.perspective-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.perspective-text p {
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    pointer-events: none;
    text-transform: uppercase;
}

.perspective-text p:nth-of-type(2) {
    position: absolute;
    transform-origin: bottom center;
    transform: rotateX(-90deg) translateY(50%);
    opacity: 0;
}