.theme-button {
    border-radius: 50%;
    overflow: hidden;
    background-color: #ededed;
    width: 42px;
    height: 42px;
    text-transform: uppercase;
    transition: 0.3s;
}

.theme-button:hover {
    box-shadow: 0 0 21px 0 #4479e2;
    border: 1px solid #4479e2;
}

.theme-button:hover .perspective-text {
    transform: rotateX(90deg);
}

.theme-button:hover .perspective-text p:nth-of-type(1) {
    transform: translateY(-100%);
    opacity: 0;
}

.theme-button:hover .perspective-text p:nth-of-type(2) {
    opacity: 1;
}

.perspective-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.perspective-text p {
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    pointer-events: none;
}

.perspective-text p:nth-of-type(2) {
    position: absolute;
    transform-origin: bottom center;
    transform: rotateX(-90deg) translateY(9px);
    opacity: 0;
}